body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    font-weight: light;
    color: #111118;
    line-height: 1.5;
    background-color: #fffff8;
    /* display: inline-block; */
    text-align: left;
    counter-reset: sidenote-counter; 
}

header .container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: #767676;
    padding: 0 20px 12px 20px;
    max-width: 960px;
    margin-left: auto;  
    margin-right: auto;
    text-decoration: none;
    /* text-transform: uppercase; */
    border-bottom: solid 1px #58585D;   
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 960px;
    margin-left: auto;  
    margin-right: auto; 
}

/* header h1 {
    font-family: 'Noto Serif', serif;
    font-size: 28px;
    /* text-transform: uppercase; */
} */

header nav a {
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    /* text-transform: uppercase; */
    text-decoration: none;
    color: #111118;
    margin-left: 15px;
}

header nav a:hover {
        border-bottom: solid 2px #A9653C; 
}

br {
    line-height: 50%;
 }

section > * {
    width: 60%;
}

section h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

section h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

section a {
    text-decoration: none;
    color: #A9653C; 
}

section a:hover {
        border-bottom: solid 2px #A9653C; 
}

.sidenote a:hover {
         border-bottom: solid 1px #A9653C; 
}

/* Caption, sidenotes, margin notes, figures, captions */

img {
    max-width: 95%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.quote {
    font-family: 'Noto Sans', sans-serif; 
    font-size: .7rem;
    line-height: .9;
    vertical-align: baseline;
    color: #767676;
}

/* .aboutimage {
    max-width: 65%;
} */

.caption {
        font-family: 'Noto Sans', sans-serif; 
        font-size: .75rem;
        line-height: 1;
        vertical-align: baseline;
        color: #767676;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -65%;
    width: 50%;
    margin-top: 7px;
    margin-bottom: 0;
    padding-bottom: 2px;
    font-family: 'Noto Sans', sans-serif; 
    font-size: .75rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; 
}

.sidenote-number {
    counter-increment: sidenote-counter; 
}

.sidenote-number:after,
.sidenote:before {
    font-family: 'Noto Serif', serif;
    color: #A9653C; 
    position: relative;
    vertical-align: baseline; 
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: .7rem;
    top: -0.5rem;
    left: 0.1rem; 
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-family: 'Noto Sans', sans-serif; 
    font-size: .7rem;
    top: -0.5rem; 
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left; 
}

div.fullwidth {
    width: 100%;
    max-width: 960px;
}

.fullwidth {
    max-width: 90%;
    clear:both; 
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em; 
}

input.margin-toggle {
    display: none; 
}

label.sidenote-number {
    display: inline; 
}

label.margin-toggle:not(.sidenote-number) {
    display: none; 
}

footer {
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #767676;
    border-top: solid 1px #767676;  
    padding-top:20px;
    padding-bottom: 10px;
}

footer p {
    float: left;
}

footer nav {
    float:right;
    margin-top: 12px;
}

footer nav a {
    text-decoration: none;
    color: #767676;
    margin-left: 12px;
}

footer nav a:hover {
    border-bottom: solid 2px #A9653C;
    padding-bottom: 1px;
}

footer .copyright {
    font-size: 13px;
}

/* Media queries for mobile */

/* max-width of 480px */

@media (max-width: 480px) {

section > * {
    width: 100%;
}

.sidenote,
.marginnote {
    display: none;
}

}